services:
  - type: web
    name: piatto-web
    env: python
    region: oregon
    plan: starter
    branch: master
    buildCommand: |
      pip install -r requirements.txt
      rm -rf staticfiles/*
      python manage.py collectstatic --noinput
      python manage.py migrate
    startCommand: startCommand: gunicorn piatto.wsgi:application --bind 0.0.0.0:$PORT --workers 4 --timeout 120 --keep-alive 5 --max-requests 1000 --access-logfile - --error-logfile -
    domains:
      - piattoweb.com
      - www.piattoweb.com
    autoDeploy: true
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.9
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: DJANGO_DEBUG
        value: False
      - key: DJANGO_ALLOWED_HOSTS
        value: piattoweb.com,www.piattoweb.com,piatto-web.onrender.com
      - key: CSRF_TRUSTED_ORIGINS
        value: https://piattoweb.com,https://www.piattoweb.com,https://piatto-web.onrender.com
      - key: DATABASE_URL
        fromDatabase:
          name: piatto-db
          property: connectionString
      - key: AWS_ACCESS_KEY_ID
        sync: false
      - key: AWS_SECRET_ACCESS_KEY
        sync: false
      - key: AWS_STORAGE_BUCKET_NAME
        value: piatto-media-2025
      - key: AWS_S3_REGION_NAME
        value: us-east-2
      - key: MP_ACCESS_TOKEN
        value: your-mercado-pago-token
      - key: EMAIL_HOST
        value: smtp.gmail.com
      - key: EMAIL_PORT
        value: 587
      - key: EMAIL_HOST_USER
        value: your-gmail-address
      - key: EMAIL_HOST_PASSWORD
        value: your-gmail-app-password
      - key: DEFAULT_FROM_EMAIL
        value: no-reply@piattoweb.com

databases:
  - name: piatto-db
    databaseName: piatto
    region: oregon
    plan: free